<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<title>This is a omok</title>
	<link rel="stylesheet" type="text/css" href="/css/omokRoom.css">
</head>

<body>
	<div class="versus"></div>
	<div class="board">

	</div>
	<script th:inline="javascript">

		/*<![CDATA[*/

		var username = /*[[${name}]]*/ 'default';
		var omokRoom = /*[[${omokRoom}]]*/ 'default';

		/*]]>*/

	</script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script defer type="text/javascript" src="/js/omokRoom.js"></script>
	<script defer type="text/javascript" src="/js/omokRoomWebSocket.js"></script>=
</body>

</html>